# ==========================
# Node
# ==========================
node_modules
npm-debug.log

# ==========================
# Build output
# ==========================
dist
coverage

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Git
# ==========================
.git
.gitignore

# ==========================
# IDE
# ==========================
.vscode
.idea

# ==========================
# Logs
# ==========================
logs
*.log

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db